 
  .Servicenavbar
   {
    background-color: var(--primary-color);
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  
  
  .Servicenavbar .user-details p {
    margin: 0;
    font-size: 16px;
  }
  
  .Servicenavbar .user-details small {
    color: #ccc;
    font-size: 12px;
  }
  

 