.chat-list-container {
    padding: 20px;
    height: 100vh;
    background-color: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
  }
  .chat-list-container.provider-view {
    background-color: #f8f9fa; /* Light blue for providers */
    color: #000; /* Text color for provider view */
  }
  
  .chat-list-container.user-view {
    background-color: var(--background-color);
    color: #000; 
  }
  
  .chat-list-item.provider-view {
    background-color: #e6f7ff;
    border: 1px solid #a4d3ee;
  }
  
  .chat-list-item.user-view {
    background-color: #fffacd; /* Softer yellow for user items */
    border: 1px solid #ffe4b5;
  }
  
  .chat-list-item:hover {
    transform: scale(1.02);
    transition: 0.2s ease;
  }
  
  .chat-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .chat-list-item {
    display: flex;
    color: black;
    align-items: center;
    border: 1px solid var(--border-color);
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
  }
  
  .chat-list-item:hover {
    transform: scale(1.02);
    background-color: var(--primary-color);
    color: white;
  }
  
  .chat-participant {
    display: flex;
    align-items: center;
    width: 100%;
  }
  
  .chat-participant-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
    border: 2px solid #fff;
    object-fit: cover;
  }
  
  .chat-participant-info {
    flex: 1;
  }
  
  .chat-participant-info h4 {
    font-size: 16px;
    font-weight: 600;
    margin: 0;
  }
  
  .chat-participant-info .last-message {
    font-size: 14px;
    margin: 5px 0 0;
  }
  
  .message-time {
    font-size: 12px;
    margin-left: 10px;
    align-self: flex-start;
  }
  
  /* .unread-badge {
    background-color: red;
    color: white;
    font-size: 0.8rem;
    padding: 0.2rem 0.5rem;
    border-radius: 50%;
    margin-left: 0.5rem;
  } */
  .notification-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #ff9800;
    color: white;
    padding: 10px;
    text-align: center;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .notification-bar p {
    margin: 0;
    font-size: 16px;
  }
  
  .notification-bar button {
    background: none;
    border: none;
    color: white;
    font-size: 14px;
    margin-left: 10px;
    cursor: pointer;
  }
  