/* Main Container */
.service-profile {
  padding: 10px;
  border-radius: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}



.profile-details p {
  font-size: 14px;
  align-items: center;
  margin: 10px 0;
}

.profile-details .icon {
  font-size: 16px;
  color:var(--border-color);
}


.profile-image {
  border-radius: 10px;

  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.profile-img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-bottom: 15px;
  border: 2px solid;
}

.btn-availability {
  margin-top: 10px;
  padding: 8px 16px;
  font-size: 14px;
  font-weight: bold;
  border: 2px solid;
  border-radius: 5px;
  cursor: pointer;
  text-transform: uppercase;
  display: inline-block;
}

.btn-availability.available {
  background-color: #eafbee;
  color: #28a745;
  border-color: #28a745;
}

.btn-availability.not-available {
  background-color: #fdecea;
  font-size: 10px;
  color: #dc3545;

  border-color: #dc3545;
}

.edit-profile-link {
  margin-top: 10px;
  display: block;
  font-size: 14px;
  color: #007bff;
  text-decoration: none;
}

.edit-profile-link:hover {
  text-decoration: underline;
}
