/* Main Container */
.service-profile {
  padding: 20px;
  margin-top: 10px;
  border-radius: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}
.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 70vh;
  background-color: #f9f9f9; 
  text-align: center;
  padding: 20px;
  align-items: center;

}
.action-links {
  display: flex;
  justify-content: center; 
  align-items: center;
}




.profile-details p {
  font-size: 14px;
  align-items: center;
  margin: 10px 0;

}

.profile-details .icon {
  font-size: 16px;
  color:var(--border-color);
  
}



.profile-img {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  border: 2px solid #ddd;
  object-fit: cover;
  display: inline-block;
}


.btn-availability {
  margin: 10px 0;
  padding: 10px 10px;
  font-size: 10px;
  border: 1px solid;
  border-radius: 5px;
  cursor: pointer;
  text-transform: uppercase;
  transition: all 0.3s ease; /* Smooth transition effect */
}

.btn-availability.available {
  background-color: #eafbee;
  color: #28a745;
  border-color: #28a745;
}

.btn-availability.available:hover {
  background-color: #d4f3d4; /* Slightly darker green background */
  color: #1e7e34; /* Darker green text */
  border-color: #1e7e34; /* Darker green border */
}

.btn-availability.not-available {
  background-color: #fdecea;
  color: #dc3545;
  border-color: #dc3545;
}

.btn-availability.not-available:hover {
  background-color: #f8d7da; /* Slightly darker red background */
  color: #a71d2a; /* Darker red text */
  border-color: #a71d2a; /* Darker red border */
}


.editProfileLink {
  display: block;
  font-size: 14px;
  color: #007bff;
  text-decoration: none;
}

.editProfileLink:hover {
  text-decoration: underline;
}

.profile-name {
  font-size: 20px;
  color: #333;
  margin-top: 30px;

  font-weight: bold;
}