
.service-profile-container {
  margin-top: 20px;
  padding: 20px;
  border-radius: 10px;
}

/* Left Section */
.service-profile-left {
  border-radius: 10px;
  background-color: white;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.service-profile-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.profile-info h2 {
  margin: 0 0 10px;
  font-size: 24px;
  text-align: center;
  color: #333;
}

.profile-details div {
  margin-bottom: 10px;
  font-size: 16px;
  color: #555;
}

/* Profile Image */
.profile-image {
  text-align: center;
  margin-right: 180px;
}

.profile-img-container {
  margin-bottom: 10px;
}

.profile-img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.btn-availability {
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: block;
  color: #fff;
  text-transform: uppercase;
}

.btn-availability.available {
  background-color: #28a745;
}

.btn-availability.not-available {
  background-color: #dc3545;
}

.edit-profile-link {
  margin-top: 10px;
  display: block; 
  font-size: 14px;
  color: #007bff;
  text-decoration: none;
  text-align: center;
}

.edit-profile-link:hover {
  text-decoration: underline;
}





