.category-image {
    height: 150px;
    width: 100%;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 20px;
  }
  
  .SingleCard-title {
    color: black;
  }
  .category-SingleCard .SingleCard {

    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .category-SingleCard .SingleCard:hover {
    transform: translateY(-10px); 
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2); 
  }
  