
.provider-details p {
  margin: 10px 0;
  display: flex;
  align-items: center;
  font-size: 14px;
  color: var(--text-color);
}

.icon {
  margin-right: 10px;
  font-size: 18px;
  color: var(--primary-color);
}

.availability-label {
  padding: 5px 10px;
  border-radius: 5px;
  width: fit-content;
  margin-left: 80px;
}

.available {
  background-color: green;
  color: white;
}

.not-available {
border: 1px solid red;  color: red;
}
.service-charges span{
  color: red;
}