.userstable {
  width: 100%;
  border-collapse: collapse;
  background: #f8f9fa;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin-bottom: 20px;
  font-size: 12px; 
}

.user-image {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid #6c757d;
  object-fit: cover;
  display: block;
  margin: 0 auto; /* Center the image */
}

.userProfile {
  text-align: center;
}

.user-profile span  {
  display: block;
  margin-top: 4px;
  font-size: 16px;
  color: #333;
}

.contact-icons {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 16px;
}

.contact-icons svg {
  font-size: 16px;
  color: var(--border-color);
}
.userstable .btn {
  
  padding: 8px 8px;
  font-size: 14px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

.totalCount{
  font-size: 18px;
}

/* adminUsers.css */
.btn-block {
  background-color: red;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
}

.btn-block:hover {
  background-color: darkred;
}

.btn-unblock {
  background-color: green;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
}

.btn-unblock:hover {
  background-color: darkgreen;
}


