/* Style the Chart Diagram */
.ChartDiagram {
  width: 100%;
  max-width: 700px;
  margin: 20px;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
}

/* Modern Card Styling */
.providerCard {
  color: #333;
  border-radius: 12px;
  padding: 10px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  border: 1px solid var(--border-color);
}
.chart-container {
  height: 300px;
}


.providerCard:hover {
  transform: scale(1.05);
  box-shadow: 0px 8px 16px var(--border-color)
}

.search-container {
  display: flex;
  justify-content: flex-start; 
  flex-wrap: wrap;
  margin-top: 30px;
  gap: 10px;
}

.search-container input {
  width: 120px;
  padding: 6px 10px;
  border-radius: 6px;
  border: 1px solid #ddd;
}





/* Adjust Layout for Responsiveness */
@media (max-width: 768px) {
  .search-container {
    flex-direction: column;
  }

  .ChartDiagram {
    width: 90%;
  }
}
