.bookingstable  {
    display: block;
    margin-top: 8px;
    font-size: 16px;
    color: #333;
  }
  .bookingstable .dropdown{
    font-size: 12px; 

  }
  .totalCount{
    font-size: 25px;
    
  }
  