/* .providerContainer{
    width: 100%;
    border-collapse: collapse;
    background: #f8f9fa;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin-bottom: 20px;
    font-size: 16px; 
} */