.category-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.content-container {
  padding: 20px;
  flex: 1;
}

.header {
  display: flex;
  justify-content: flex-end;
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-content {
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  max-width: 90%;
}

.popup-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 20px; /* Adds spacing above the buttons */
}

.upload-container {
  margin-top: 16px;
  text-align: center;
  padding: 20px;
  border-radius: 8px;
  background-color: #f9f9f9;
  position: relative;
  width: fit-content; /* Adjust width to fit content */
  margin: 0 auto; /* Center the container */
}

.upload-label {
  cursor: pointer;
}

.upload-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 8px;
  background-color: #ffffff;
}

.upload-icon {
  font-size: 24px;
  color: #888;
}

.upload-box p {
  margin-top: 8px;
  font-size: 12px;
  color: #555;
}

.upload-input {
  display: none; /* Hides the default file input */
}

.image-preview-container {
  position: relative;
  text-align: center;
  margin-top: 10px;
}

.image-preview {
  max-width: 100%;
  max-height: 150px;
  border-radius: 8px;
}

.close-icon-container {
  position: absolute;
  top: -10px;
  right: -10px;
  cursor: pointer;
}

.close-icon {
  font-size: 16px;
  color: red;
  background-color: white;
  border: 2px solid red;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.close-icon:hover {
  background-color: red;
  color: white;
}

.tooltip {
  visibility: hidden;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 4px;
  padding: 4px 8px;
  position: absolute;
  top: -30px;
  right: 0;
  font-size: 12px;
  white-space: nowrap;
  z-index: 10;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.close-icon-container:hover .tooltip {
  visibility: visible;
  opacity: 1;
}
