/* Main Container */
.service-profile {
  padding: 20px;
  margin-top: 10px;
  border-radius: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.profile-container {
  display: flex;
  flex-direction: row; /* Align the image and details side-by-side */
  justify-content: space-between;
  align-items: center;
  min-height: 70vh;
  background-color: #f9f9f9;
  text-align: center;
  padding: 20px;
}





.action-links {
  display: flex;
  justify-content: center; 
  align-items: center;
}




.profile-details p {
  font-size: 14px;
  margin: 10px 0;
  display: flex;
  align-items: center; 
}

.profile-details .icon {
  font-size: 18px;
  margin-right: 8px;
  color: var(--border-color);
}



.providerProfile-img {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  border: 2px solid #ddd;
  cursor: pointer;
  transition: transform 0.3s ease; 
}

.providerProfile-img:hover {
  transform: scale(1.05); 
  border-color: white;
}


.btn-availability {
  padding: 10px 15px;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn-availability.available {
  background-color: #eafbee;
  color: #28a745;
  border: 2px solid #28a745;
}

.btn-availability.available:hover {
  background-color: #d4f3d4;
  color: #1e7e34;
  border-color: #1e7e34;
}

.btn-availability.not-available {
  background-color: #fdecea;
  color: #dc3545;
  border: 2px solid #dc3545;
}

.btn-availability.not-available:hover {
  background-color: #f8d7da;
  color: #a71d2a;
  border-color: #a71d2a;
}


.action-links {
  display: flex;
  justify-content: center;
  gap: 20px; /* Add spacing between buttons */
  margin-top: 20px;
}

.editProfileLink {
  font-size: 14px;
  font-weight: bold;
  color: #007bff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.editProfileLink:hover {
  color: #0056b3; /* Darker blue on hover */
  text-decoration: underline;
}

